p {
  margin: 0;
}

.input_block {
  /* max-width: 80%; */
  width: 100%;
}

.input {
   width: 85% !important;
   min-width: 130px;
} 

.header {
  background-color: #17a2b8;
  margin-bottom: 10px;
  height: 60px;
  color: white;
  
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #17a2b8;
  padding: 2px;
  margin-right: 15px;
  border-radius: 6px;
}

.header__profile {
	color: #ffee0b;
	
	/* font-size: 1.75rem; */
}